/* */
.arrow-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 50px;
    opacity: 50%;
    cursor: pointer;
    transition: all 1s;
}

.arrow-icon:hover {
    transition: all .2s;
    opacity: 100%;
}
/* */
:root {
    --cor-p : rgb(255, 187, 0);
    --cor-s : black;
    --cor-d : white;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(-45deg, #ff3d5a, #eaf27e, #3b8c88, #ffb969) no-repeat;
    background-size: 1000% 1000%;
    animation: gradient 10s ease alternate infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes gradient {
    from {
        background-position: 0 50%;
    }

    to {
        background-position: 100% 50%;
    }
}

.card {
    height: 600px;
    width: 400px;
    background-color: var(--cor-p);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: scale(.8);
}

.resto2 {
    display: flex;
}

.lado1 {
    display: flex;
    flex-direction: column;
    width: 30%;
}
.lado2 {
    display: flex;
    flex-direction: column;
    width: 70%
}

.resto {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.titulo {
    margin-bottom: 50px;
    width: 400px;
    text-align: center;
    border-bottom: solid 7px var(--cor-s);
    padding-bottom: 20px;
}

.labels {
    font-weight: bolder;
    font-size: larger;
    margin: 20px;
    height: 40px;
    margin: 15px;
}

.inputs {
    height: 40px;
    width: 180px;
    border: none;
    border-radius: 10px;
    margin-bottom: 30px;
    text-align: center;
}

.resultado {
    height: 120px;
    width: 260px;
    border: none;
    border-radius: 10px;
    background-color: var(--cor-s);
    color: var(--cor-p);
    font-size: 19px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.btn {
    height: 40px;
    width: 260px;
    border-radius: 10px;
    background-color: var(--cor-s);
    color: var(--cor-p);
}