/* */
.arrow-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 50px;
    opacity: 50%;
    cursor: pointer;
    transition: all 1s;
}

.arrow-icon:hover {
    transition: all .2s;
    opacity: 100%;
}
/* */

body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(-45deg, #ff3d5a, #eaf27e, #3b8c88, #ffb969) no-repeat;
    background-size: 1000% 1000%;
    animation: gradient 10s ease alternate infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

@keyframes gradient {
    from {
        background-position: 0 50%;
    }

    to {
        background-position: 100% 50%;
    }
}

h1 {
    color: white;
    text-transform: uppercase;
}
.card_p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: gray;
    height: 600px;
    width: 400px;
    transform: scale(.9);
}

.img {
    height: 400px;
}

.btns_div {
    margin-top: 30px;
}

.btns {
    height: 40px;
    width: 80px;
    border: none;
    transition: all .3s;
}

.btns:hover{
    transform: scale(1.05);
}

.btns:active{
    transform: scale(.9);
}


.btns:hover:nth-child(1){
    background-color: brown;
    color: white;
}

.btns:hover:nth-child(2){
    background-color: rgb(247, 222, 80);
}

.btns:hover:nth-child(3){
    background-color: rgb(120, 248, 141);
    
}

/* ------------------------------------ */
.btns:hover:nth-child(4){
    animation: btn_ani 2s linear infinite alternate-reverse ;
}
    @keyframes btn_ani {
        0% {
            background-color: brown;
        }

        50% {
            background-color: rgb(247, 222, 80);
        }

        100% {
            background-color: rgb(120, 248, 141);
        }
    }
/* ------------------------------------ */