* {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
}

body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(-45deg, #ff3d5a, #eaf27e, #3b8c88, #ffb969) no-repeat;
    background-size: 1000% 1000%;
    animation: gradient 10s ease alternate infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes gradient {
    from {
        background-position: 0 50%;
    }

    to {
        background-position: 100% 50%;
    }
}

.card_p {
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
}

.btn {
    width: 70px;
    height: 40px;
    margin: 10px 3px;
    border-radius: 5px;
    transition: all 1s;
    font-weight: bold;
    text-transform: uppercase;
}

.btn:hover {
    transform: scale(1.1);
    transition: all .2s;
}

.btn:active {
    transform: scale(.9);
    transition: all .2s;
}

.bg-gre {
    background-color: green;
    color: white;
}

.bg-yel {
    background-color: yellow;
    color: black;
}

.bg-red {
    background-color: red;
    color: white;
}

/* */
.arrow-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 50px;
    opacity: 50%;
    cursor: pointer;
    transition: all 1s;
}

.arrow-icon:hover {
    transition: all .2s;
    opacity: 100%;
}
/* */